{:hara/type :project
 :hara/version "1.0.0"
 :project/id hara.browser-game
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths ["test"]
 :project/extension-paths ["extensions"]
 :project/main hara.browser-game.tron
 :project/capabilities
 #{:studio/node-send :canvas/2d :input/keyboard :input/pointer}}
