{:hara/type :project
 :hara/version "1.0.0"
 :project/id hara.amp
 :project/version "0.1.0"
 :project/source-paths ["src"]
 :project/test-paths ["test"]
 :project/extension-paths ["extensions"]
 :project/main hara.amp.main
 :project/capabilities
 #{:studio/node-send
   :audio/playback
   :files/local-read}}
